<ion-view view-title="Intro" hide-nav-bar="true">
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()">
            Skip Intro
          </button>
      <h3>lalalalala!</h3>
      <div id="logo">
        <img src="http://code.ionicframework.com/assets/img/app_icon.png">
      </div>
      <p>
        lalallaa.
      </p>
      <p>
        lalalallalalalal.
      </p>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
        <button class="button button-positive button-clear no-animation"
                ng-click="startApp()">
          Skip
        </button>
      </ion-toolbar>
      <h3>lalalala</h3>

      <div id="list">
        <h5>Simple steps:</h5>
        <ol>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ol>
      </div>
    </ion-slide>
    <ion-slide>
      <h3>Ready?</h3>
      <p>
        lalalal
      </p>
      <button class="button icon-right ion-chevron-right button-clear button-positive" ng-click="startApp()">
        Continue
      </button>
    </ion-slide>
  </ion-slide-box>
</ion-view>
