<ion-view view-title="Decode" hide-nav-bar="true">
  <ion-content class="padding background-alternative">
    <ion-refresher pulling-text="Pull To Refresh" on-refresh="onClear()"
                   refreshing-text="Clearing ..." refreshing-icon="ion-loading-b"
    ></ion-refresher>
    <div class="background-div2 animated bounceInRight" style="margin-top:20px">
      <h2 class="white putmiddle"> <strong>Decoded message</strong> </h2>
      <h3 class="positive"> {{message}}</h3>
    </div>


    <div class="background-div3 animated bounceInLeft" style="margin-top:7px">
      <h2 class="positive putmiddle"> {{currMorseDashDot}}</h2>
    </div>

<!--
    <div class="list card animated bounceInRight">
      <div class="item item-avatar background-grey">
        <img src="img/face4.jpg">
        <h2 class="positive">Dot</h2>
        <h3 class="white">Add a dot</h3>
      </div>
      <a class="item item-icon-left positive background-grey" ng-click="onDot()">
        <i class="icon ion-ios-lightbulb"></i>
        Add a dot
      </a>
    </div>


    <div class="list card animated bounceInLeft">
      <div class="item item-avatar background-grey">
        <img src="img/face5.jpg">
        <h2 class="positive">Dash</h2>
        <h3 class="white">Add a dash</h3>
      </div>
      <a class="item item-icon-left positive background-grey" ng-click="onDash()">
        <i class="icon ion-ios-lightbulb-outline"></i>
        Add a dash
      </a>
    </div>

    <div class="list card animated bounceInLeft">
      <div class="item item-avatar background-grey">
        <img src="img/face3.jpg">
        <h2 class="positive">Add</h2>
        <h3 class="white">Add the letter</h3>
      </div>
      <a class="item item-icon-left positive background-grey" ng-click="onAdd()">
        <i class="icon ion-music-note"></i>
        Add the letter to message
      </a>
    </div>
    <div class="list card animated bounceInRight">
      <div class="item item-avatar background-grey">
        <img src="img/face4.jpg">
        <h2 class="positive">Space</h2>
        <h3 class="white">Add a space</h3>
      </div>
      <a class="item item-icon-left positive background-grey" ng-click="onSpace()">
        <i class="icon ion-ios-lightbulb"></i>
        Add a space
      </a>
    </div>
    -->
    <div id="circle" class="animated rubberBand" ng-click="onDot()"></div>
    <div id="rectangle" class="animated swing" style="margin-top:33px" ng-click="onDash()"></div>
    <button style="margin-top:50px"class="button button-full button-stable animated bounceInRight" ng-click="onSpace()">
      Space
    </button>
    <button style="margin-top:25px"class="button button-full button-positive animated bounceInLeft" ng-click="onAdd()">
      Add
    </button>
    <!--
    <div class="list card animated bounceInRight">
      <div class="item item-avatar background-grey">
        <img src="img/face4.jpg">
        <h2 class="positive">Space</h2>
        <h3 class="white">Add a space</h3>
      </div>
      <a class="item item-icon-left positive background-grey" ng-click="onClear()">
        <i class="icon ion-ios-lightbulb"></i>
        Add a space
      </a>
    </div>
  -->


  </ion-content>
</ion-view>
