<ion-view view-title="Encode">
  <ion-content class="background-all" ng-controller="encodeCtrl">

    <div class="padding animated bounceInLeft">
      <label class="item item-input">

        <input type="text" name="message" id="message-textarea"
             ng-model="message" placeholder="Type in the message that you want to encode.">
      </label>
      <br>
    </div>
    <button class="button button-full button-positive animated bounceInUp" ng-click="onEncode()">Submit</button>

    <button class="button button-full button-positive animated bounceInUp"
            ng-speech-recognition-start ng-speech-recognition-end="speech.displayTranscript()">
      Press & Talk
    </button>


  </ion-content>
</ion-view>
