<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Encode Tab -->
  <ion-tab title="Encode" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/encode">
    <ion-nav-view name="tab-encode"></ion-nav-view>
  </ion-tab>

  <!-- Play Code Tab -->
  <ion-tab title="Play Code" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/playCode">
    <ion-nav-view name="tab-playCode"></ion-nav-view>
  </ion-tab>

  <!-- Decode Tab -->
  <ion-tab title="Decode" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/decode">
    <ion-nav-view name="tab-decode"></ion-nav-view>
  </ion-tab>


</ion-tabs>
</div>
