<ion-view class="welcomeView" view-title="Welcome!" hide-nav-bar="true">
  <ion-content>
    <div class="row row-center">
      <div class="col col-center text-center">
        <h1 class="animated bounceInDown" on-tap="intro()">EaseMorse</h1>
        <div id="container" class="animated bounceInLeft">
          <center><img src="img/morsemachine.gif" style="width: 400px;margin-bottom:30px"></center>
        </div>
        <button class="button button-outline button-block button-light animated bounceInUp" ng-click="onEnter()">Start!</button>
      </div>
    </div>
  </ion-content>
</ion-view>
