<ion-view class="welcomeView" view-title="Welcome!" hide-nav-bar="true">
  <ion-content>
    <div class="row row-center">
      <div class="col col-center text-center">
        <h1 class="animated bounceInDown" on-tap="HelloWorld()">EaseMorse</h1>
        <div id="container" class="animated bounceInLeft" on-tap="showUsers()">
          <img src="img/morsemachine.gif" style="margin-bottom:30px">
        </div>
        <button class="button button-outline button-block button-light animated bounceInUp" ui-sref="app.gallery">Start!</button>
      </div>
    </div>
  </ion-content>
</ion-view>
